
body {
    background-color: WhiteSmoke;
}

.card {
    vertical-align: middle;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 480px;
    margin: auto;
    font-family: arial;
}

.search {
    background-color: Gainsboro;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #ccc;
    max-width: 500px;
    margin: auto;
    font-family: arial;
}

.message {
    background-color: ghostwhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    border-color: #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 480px;
    font-family: arial;
}

input {
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
}

input#title {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ccc;
    padding: 5px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

#mainNav {
    /* box-shadow: none; */
    background-color: rgba(68, 43, 104, 0.8);
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: cornsilk;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: cornsilk !important;
}

#mainNav .navbar-brand {
    color: black;
}

#mainNav .navbar-brand:hover {
    color: black;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(2, 1, 1, 0.7);
    padding: 0 1rem;
    font-size: 1.2rem;
}

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

.slide img {
    width:1000px;
    height:300px;
    margin: 10px auto;
}