<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Artarium{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="title_bar">
  <div>
      <button id="random" onclick="location.href='/lucky'"><img src="">抽</button>
  </div>
  <form id="form1" name="form1" action="{{ url_for('search') }}">
    <p>
      <input name="title" type="text" id="title"/>
    </p>
    <p>
      <input type="radio" name="category" id="radio" value="舞蹈" />舞蹈
      <input type="radio" name="category" id="radio1" value="展覽" />展覽
      <input type="radio" name="category" id="radio2" value="音樂" />音樂
      <input type="radio" name="category" id="radio3" value="戲劇" />戲劇
      <input type="radio" name="category" id="radio4" value="全部" checked="checked" />全部
    </p>
    <p>縣市選擇:
      <input list="browsers" name="city" >
      <datalist id="browsers">
        <option value="臺北市">
        <option value="新北市">
        <option value="基隆市">
        <option value="桃園縣">
        <option value="新竹市">
        <option value="新竹縣">
        <option value="苗栗縣">
        <option value="臺中市">
        <option value="彰化縣">
        <option value="南投縣">
        <option value="雲林縣">
        <option value="嘉義市">
        <option value="嘉義縣">
        <option value="臺南市">
        <option value="高雄市">
        <option value="屏東縣">
        <option value="臺東縣">
        <option value="花蓮縣">
        <option value="宜蘭縣">
        <option value="澎湖縣">
        <option value="金門縣">
        <option value="連江縣">
      </datalist>
    </p>
    <p>
      <input id="date" type="date" name="date" />
    </p>
    <p>
      <button type="submit" class="btn btn-block" >Search</button>
    </p>
  </form>
</div>

<!-- <div class="search1">
<form method="get" action="">
<input id="search-bar1" type="text" class="" name="search" placeholder="搜索">
<input id="search-btn1" type="submit" class="" value="">
</form>
</div> -->

<div class=slide>
  <div class="slideshow1">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['all'][i]['UID'] }}"><img class="recent" src="{{ slide['all'][i]['imgUrl'] }}" alt="image error1.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow2">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['dance'][i]['UID'] }}"><img class="dance" src="{{ slide['dance'][i]['imgUrl'] }}" alt="image error2.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow3">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['exhibition'][i]['UID'] }}"><img class="exhibition" src="{{ slide['exhibition'][i]['imgUrl'] }}" alt="image error3.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow4">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['drama'][i]['UID'] }}"><img class="drama" src="{{ slide['drama'][i]['imgUrl'] }}" alt="image error4.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow5">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['music'][i]['UID'] }}"><img class="music" src="{{ slide['music'][i]['imgUrl'] }}" alt="image error5.{{ i }}"></a>
    {% endfor %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/slides.js') }}"></script>
{% endblock content %}