<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Artarium{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<br><br>
<div class="search">
    <div class="card-body">
        <br>
        <div class="title_bar">
          <form id="form1" name="form1" action="{{ url_for('search') }}">
            <p><input name="title" type="text" id="title" placeholder="Search..."/></p>
            <br>
            <p>
              <input type="radio" name="category" id="radio" value="舞蹈" />舞蹈
              <input type="radio" name="category" id="radio1" value="展覽" />展覽
              <input type="radio" name="category" id="radio2" value="音樂" />音樂
              <input type="radio" name="category" id="radio3" value="戲劇" />戲劇
              <input type="radio" name="category" id="radio4" value="全部" checked="checked" />全部
            </p>
            <p>縣市選擇:
              <input list="browsers" name="city" >
              <datalist id="browsers">
                {% for city in cities %}
                  <option value="{{ city }}">
                {% endfor %}
              </datalist>
            </p>
            <p>
              <input id="date" type="date" name="date" />
            </p>
            <div style="text-align:center">
              <button type="submit" class="btn btn-outline-dark button" style="width: 100px;">Search</button>
            </div>
          </form>
        </div>
        <br>
          <div style="text-align:center">
            <button id="random" onclick="location.href='/lucky'" class="btn btn-outline-dark button" style="width: 100px;">好手氣</button>
          </div>
        </div>
    </div>
</div>

<br><br>

<div class=slide>
  <div class="slideshow1">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['all'][i]['UID'] }}"><img class="recent" src="{{ slide['all'][i]['imgUrl'] }}" alt="image error1.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow2">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['dance'][i]['UID'] }}"><img class="dance" src="{{ slide['dance'][i]['imgUrl'] }}" alt="image error2.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow3">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['exhibition'][i]['UID'] }}"><img class="exhibition" src="{{ slide['exhibition'][i]['imgUrl'] }}" alt="image error3.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow4">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['drama'][i]['UID'] }}"><img class="drama" src="{{ slide['drama'][i]['imgUrl'] }}" alt="image error4.{{ i }}"></a>
    {% endfor %}
  </div>
  <div class="slideshow5">
    {% for i in range(5) %}
    <a href="/info?UID={{ slide['music'][i]['UID'] }}"><img class="music" src="{{ slide['music'][i]['imgUrl'] }}" alt="image error5.{{ i }}"></a>
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block script %}<script src="{{ url_for('static', filename='js/slides.js') }}"></script>{% endblock script %}