<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Rigister{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<br><br>
<div class="card">
    <div class="card-body">
        <br>
        <form action="/register" method="post">
            <div class="form-input mb-3" style="text-align:center">
                <span><i class="bi bi-envelope"></i></span>
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
            </div>
            <div class="form-input mb-3" style="text-align:center">
                <span><i class="bi bi-lock"></i></span>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <span style="color: Silver;">*推薦使用Google帳號註冊（不需要 @gmail.com）</span>
            <br><br>
            <div class="submit" style="text-align:center">
                <div style="color:red;"> {{ errorMsg|safe }} </div>
                <button type="submit" class="btn btn-outline-warning button" style="width: 200px;">註冊</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}