<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}restaurant{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<style>
    #map {
        height: 600px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Ym4KuHrxyNuIFQhpUZ7ZPO34-JgBAeY&callback=initMap"></script>
<script>
    function initMap() {
        var uluru = {
            lat: {{ latitude }},
            lng: {{ longitude }}
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });

        const icon = {
            url: "{{ url_for('static', filename='img/marker.ico') }}",
            scaledSize: new google.maps.Size(50, 50),
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };

        {% for restaurant in restaurants %}
        var marker{{ restaurant['id'] }} = new google.maps.Marker({
            position: {
                lat: {{ restaurant['latitude'] }},
                lng: {{ restaurant['longitude'] }}
            },
            map: map,
            icon: icon,
            clickable: true
        });
        {% endfor %}

        // open a new window when click on the marker
        {% for restaurant in restaurants %}
        google.maps.event.addListener(marker{{ restaurant['id'] }}, 'click', function() {
            window.open("https://www.google.com/maps?q={{ restaurant['latitude'] }},{{ restaurant['longitude'] }}");
        });
        {% endfor %}
    }
    window.initMap = initMap;
</script>
<br><br>
<a href="/info?UID={{ UID }}" style="color: rgba(68, 43, 104, 0.8);"><h3>回活動頁面</h3></a>
<div id="map"></div>
<br><br>
<!-- a table of all restaurants -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>餐廳名稱</th>
            <th>餐廳地址</th>
            <th>餐廳類型</th>
            <th>Google Maps</th>
        </tr>
    </thead>
    <tbody>
        {% for restaurant in restaurants %}
        <tr>
            <td>{{ restaurant['name'] }}</td>
            <td>{{ restaurant['city'] + restaurant['area'] + restaurant['address']}}</td>
            <td>{{ restaurant['type'] }}</td>
            <td><a href="https://www.google.com/maps?q={{ restaurant['latitude'] }},{{ restaurant['longitude'] }}">Go</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}