<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Search{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<!-- a list of search results -->
<br><br>
<div class="grid-container">
    <div class="grid-item item1">
        <ul style="font-size: 1.5rem; line-height: 50px;">
            {% if not search %}
                <li>No shows found</li>
            {% else %}
                {% for show in search %}
                    <li>
                        <a href="/info?UID={{ show['UID'] }}" style="color: rgba(68, 43, 104, 0.8);">{{ show['title'] }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock content %}