<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Team{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<br><br>
<a href="/info?UID={{ UID }}" style="color: rgba(68, 43, 104, 0.8);"><h3>回活動頁面</h3></a>
<br>
{% if teams %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>揪團者</th>
            <th>集合地點</th>
            <th>聯絡方式</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team['id'] }}</td>
                <td>{{ team['member_id'] }}</td>
                <td>{{ team['place'] }}</td>
                <td>{{ team['contact'] }}</td>
                {% if current_user.id == team['member_id'] %}
                    <td><a href="/delete_team?UID={{ UID }}&team_id={{ team['id'] }}">刪除</a></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>還沒有人揪團呢</p>
{% endif %}
<br><br>
{% if current_user.is_authenticated %}
        <div class="grid-item item5">
            <div style="background-color:lightpink;width: 600px;max-width:100%;height: 130px;overflow: scroll;">
                <div id="messageBox"></div>
                <div class="border">
                    <p>發起揪團</p>
                    <form action="/team" method="post">
                        <input type="hidden" name="UID" value="{{ UID }}">
                        <!-- input contact -->
                        <input type="text" name="contact" placeholder="聯絡方式">
                        <!-- input place -->
                        <input type="text" name="place" placeholder="集合地點">
                        <div style="color:red;"> {{ errorMsg|safe }} </div>
                        <input type="submit" value="送出">
                    </form>
                </div>
            </div>
        </div>
{% endif %}

{% endblock content %}