<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Team{% endblock title %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<br><br>
<a href="/info?UID={{ UID }}" style="color: rgba(68, 43, 104, 0.8);"><h3>回活動頁面</h3></a>
<br>
{% if teams %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>揪團者</th>
            <th>集合地點</th>
            <th>聯絡方式</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team['id'] }}</td>
                <td>{{ team['member_id'] }}</td>
                <td>{{ team['place'] }}</td>
                <td>{{ team['contact'] }}</td>
                {% if current_user.is_authenticated %}
                    <td><button id="random" onclick="location.href='/join?UID={{ UID }}&id={{ team['member_id'] }}'" class="btn btn-outline-primary button" style="width: 120px;">我要參加！</button></td>
                {% endif %}
                {% if current_user.id == team['member_id'] %}
                    <td><a href="/delete_team?UID={{ UID }}&team_id={{ team['id'] }}">刪除</a></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>還沒有人揪團呢</p>
{% endif %}
<br><br>
{% if current_user.is_authenticated %}
<div style="padding-left: 80px;">
    <div class="message">
        <p>發起揪團</p>
        <form action="/team" method="post">
            <input type="hidden" name="UID" value="{{ UID }}">
                <!-- input contact -->
            <input type="text" name="contact" placeholder="聯絡方式">
            <!-- input place -->
            <input type="text" name="place" placeholder="集合地點">
            <br><br>
            <div style="color:red;"> {{ errorMsg|safe }} </div>
            <input type="submit" value="送出">
        </form>
    </div>
</div>
{% endif %}

{% endblock content %}